<p><%=notice%></p>

<div>
  <div>
    <h1>
      <%=@current_user.first_name%>'s bookmarks
    </h1>
  </div>
</div>

<hr>

<div>
  <div>

    <form action="/insert_bookmark" method="post">
      <div>
<select name="query_movie_id">
<%Movie.all.order(:title).each do |a_movie|%>
<option value="<%=a_movie.id%>">
<%=a_movie.title%>
</option>
<%end%>
</select>

      </div>

      <button>
        Bookmark this movie!
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
      
        <th>
          Movie
        </th>

        <th>
          Created at
        </th>

        <th>
    
        </th>
      </tr>

      <% @list_of_bookmarks.each do |a_bookmark| %>
      <tr>
       
        <td>
          <%= a_bookmark.movie.title %>
        </td>

        <td>
          <%= time_ago_in_words(a_bookmark.created_at) %> ago
        </td>
      
        <td>
          <a href="/delete_bookmark/<%= a_bookmark.id %>">
            Un-bookmark
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
